<mat-expansion-panel>
  <mat-expansion-panel-header class="list-group-item clearfix">
    <div class="pull-left">
      <h4 class="list-group-header">{{dogElement.name}}</h4>
    </div>
  </mat-expansion-panel-header>
  <p>Dog information</p>
</mat-expansion-panel>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-header">Dog Name</h4>
      </div>
    </mat-expansion-panel-header>
    <p>Dog information</p>
  </mat-expansion-panel>

  <!--<app-dog-item-->
  <!--style="cursor: pointer"-->
  <!--*ngFor="let dog of dogList"-->
  <!--[dogElement]="dog"-->
  <!--&gt;</app-dog-item>-->
</mat-accordion>
